{% extends 'base.html.twig' %}

{% block title %}Edition de catégorie{% endblock %}

{% block body %}
    <h1 class="d-flex justify-content-around m-5">Edition de catégorie</h1>

    {{ include('category/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
<div class="program-footer d-flex justify-content-around">
    <a class="btn btn-bleuc" href="{{ path('category_index') }}"><- Retour à la liste</a>

    {{ include('category/_delete_form.html.twig') }}
</div>
{% endblock %}
