{% extends 'base.html.twig' %}

{% block title %}Ajouter un épisode{% endblock %}

{% block body %}
    <h1 class="d-flex justify-content-center m-5">Ajouter un épisode</h1>

    {{ include('episode/_form.html.twig') }}

    <a class="btn btn-bleuc" href="{{ path('episode_index') }}"><- Retour à la liste</a>
{% endblock %}
